$primary: rgb(46, 46, 46);
$secondary: rgb(59, 59, 59);
$tertiary: rgb(201, 201, 201);
$superLightGrey: rgb(241, 241, 241);
$white: rgb(255, 255, 255);

body {
  background-color: $superLightGrey;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $secondary;
    color: $white;
  }
}

body[theme='dark'] {
  background-color: $secondary;
  color: $white;
}

body[theme='light'] {
  background-color: $superLightGrey;
  color: $primary;
}

//  NavBar Styles
.navbar {
  padding: 0.4% 10%;
  background-image: linear-gradient(rgb(0, 51, 146), rgb(5, 69, 187));
  font-weight: 600;
}

.homeclick {
  width: 50px;
  transition: 250ms;
}

.homeclick:hover {
  transform: scale(1.1) rotate(10deg);
}

.nav-link {
  margin-left: 30px;
  color: $tertiary;
}

@media screen and (max-width: 990px) {
  .navbar-brand {
    margin-left: 48%;
    margin-right: auto;
  }

  .nav-link-list {
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown-center {
    margin-left: 45%;
    margin-right: auto;
  }
}

.nav-link:hover {
  color: $white;
}

.nav-link:focus {
  color: $white;
}

.navbar-toggler {
  color: $superLightGrey;
  border-color: $superLightGrey;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(241, 241, 241)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-center {
  margin-top: 3px;
}

.dropdown-menu {
  background-color: $tertiary;
  max-width: 20px;
}

.fa-solid {
  padding-right: 5px;
}
.fa-check {
  padding-left: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

// Signup Page Styles
.error {
  font-size: 14px;
  color: red;
}

.form-control {
  width: 25%;
}

@media screen and (max-width: 990px) {
  .main-div {
    text-align: center;
  }
  
  .mb-3 {
    text-align: center;
  }
  .form-control {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Footer
.bottom {
  background-color: $tertiary;
  padding: 1%;
  text-align: center;
  font-size: 12px;
}

.bottom-links {
  padding: 4px;
}

.copyright {
  margin-bottom: 0;
}

// Welcome Screen
.welcomeToNothing {
  height: 100%;
}

// User Screen
.URI-form-control {
  width: 80%;
}

// Main Div
.main-div {
  padding: 3%;
}

// table styling
.theActualTableFinally {
}

.tableButton {
  width: 100%;
  border: none;
}

.tableButtonKey {
  width: 100%;
  border: none;
  font-weight: 800;
}

body[theme='light'] .tableButton {
  background-color: $tertiary;
}

body[theme='light'] .tableButtonKey {
  background-color: $tertiary;
}

.tableButtonKey[selected='true'] {
  background-color: yellow;
}

.tableButton[selected='true'] {
  background-color: yellow;
}

body[theme='light'] .tableButton[selected='true'] {
  background-color: yellow;
}

body[theme='light'] .tableButtonKey[selected='true'] {
  background-color: yellow;
}
