$primary: rgb(34, 34, 34);
$secondary: rgb(0, 0, 0);
$tertiary: rgb(216, 216, 216);
$superLightGrey: rgb(241, 241, 241);
$white: rgb(255, 255, 255);

body {
  background-color: $superLightGrey;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $secondary;
    color: $white;
  }
}

body[theme='dark'] {
  background-color: $secondary;
  color: $white;
}

body[theme='light'] {
  background-color: $superLightGrey;
  color: $primary;
}

//  NavBar Styles
.navbar {
  padding: 0.4% 10%;
  background-color: rgba(17, 22, 73, 0.4);
  font-weight: 600;
}

.homeclick {
  width: 50px;
  transition: 250ms;
}

.homeclick:hover {
  transform: scale(1.1) rotate(10deg);
}

.nav-link {
  margin-left: 30px;
  color: $tertiary;
}

@media screen and (max-width: 990px) {
  .navbar-brand {
    margin-left: 48%;
    margin-right: auto;
  }

  .nav-link-list {
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown-center {
    margin-left: 45%;
    margin-right: auto;
  }
}

.nav-link:hover {
  color: $white;
}

.nav-link:focus {
  color: $white;
}

.navbar-toggler {
  color: $superLightGrey;
  border-color: $superLightGrey;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(241, 241, 241)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-center {
  margin-top: 3px;
}

.dropdown-menu {
  background-color: $tertiary;
  max-width: 20px;
}

.fa-solid {
  padding-right: 5px;
}
.fa-check {
  padding-left: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

// sidebar styling
.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgba(84, 138, 255, 0.5);
  overflow-x: hidden;
  padding-top: 120px;
}

.sidenavlink {
  padding-left: 10%;
  margin-left: 0%;
  text-decoration: none;
  font-size: 150%;
  font-weight: 700;
  color: $primary;
  display: block;
}

.sidenav-menu {
  color: $primary;
}

.sidenav-drop {
  font-size: 150%;
  font-weight: 500;
}

.sidenav-drop:hover {
  color: $white;
}

@media (prefers-color-scheme: dark) {
  .sidenavlink {
    color: $white;
  }
  .sidenav-menu {
    color: $white;
  }
  .sidenav-drop:hover {
    color: $white;
  }
}

body[theme='dark'] {
  .sidenavlink {
    color: $white;
  }
  .sidenav-menu {
    color: $white;
  }
  .sidenav-drop:hover {
    color: $primary;
  }
}

body[theme='light'] {
  .sidenavlink {
    color: $primary;
  }
  .sidenav-menu {
    color: $primary;
  }
  .sidenav-drop:hover {
    color: $white;
  }
}

li {
  list-style-type: none;
}

// Main div
.main-div {
  padding-left: 250px;
  padding-top: 100px;
  min-height: 100%;
}

// Signup Page Styles
.error {
  font-size: 14px;
  color: red;
}

.form-control {
  width: 25%;
}

@media screen and (max-width: 990px) {
  .sidenav {
    display: none;
  }

  .main-div {
    text-align: center;
    padding-left: 0;
  }

  .mb-3 {
    text-align: center;
  }
  .form-control {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

// Footer
.bottom-hr {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 5px;
}

.bottom {
  padding: 1%;
  text-align: center;
  font-size: 12px;
  margin-top: 0;
}

.bottom-links {
  padding: 4px;
}

.copyright {
  margin-bottom: 0;
}

// Welcome Screen
.welcomeToNothing {
  padding-top: 150px;
  text-align: center;
  background-color: rgba(84, 138, 255, 0.5);
  border-radius: 0 0 400px 400px;
  font-size: 12vw;
}

.frontPageText {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 24px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.publicInfoBreaks {
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.publicInformation {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
}

.publicInfoHeaders {
  font-size: 32px;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.publicInfoPictures {
  width: 80%;
  padding: 10%;
}

.publicInfoInfo {
  font-size: 18px;
  max-width: 450px;
  padding-left: 5%;
}

.big-hippo {
  font-size: 20vw;
  text-align: center;
}

.publicSmallIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10%;
  padding-right: 10%;
}

.smallLogos {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

.bottomLogos {
  margin-top: 20%;
}

.mongoDB {
  margin-top: 15%;
}

.react {
  margin-top: 10%;
}

.webpack {
  width: 200px;
  margin-top: 15%;
}

// User Screen
.URI-form-control {
  width: 80%;
}

// table styling
.theActualTableFinally {
  margin-right: 20px;
}
.theQuery {
  font-weight: 600;
  font-size: 20px;
}

.tableButton {
  width: 100%;
  min-height: 65px;
  border: none;
}

.tableButtonKey {
  width: 100%;
  min-height: 40px;
  border: none;
  font-weight: 800;
}

body[theme='light'] .tableButton {
  background-color: $tertiary;
}

body[theme='light'] .tableButtonKey {
  background-color: $tertiary;
}

.tableButtonKey[selected='true'] {
  background-color: yellow;
}

.tableButton[selected='true'] {
  background-color: yellow;
}

body[theme='light'] .tableButton[selected='true'] {
  background-color: yellow;
}

body[theme='light'] .tableButtonKey[selected='true'] {
  background-color: yellow;
}

.topTableButton {
  margin-left: 10px;
}

.clearSelectionButton {
 background-color: rgb(255, 58, 58);
 color: white;
 border: solid;
 border-radius: 3px;
 border-color: black;
 border-width: 1px;
 margin-left: 10%;
}

.clearSelectionButton:hover {
  background-color: rgb(255, 0, 0);
 }